@import 'reset';

$red: #F22613;
$blue: #446CB3;
$white: #FFF;

body{
	color: $white;
	font-size: 10vw;
	font-family: 'Helvetica';
}

#game{
	width: 100%;
	height: 100vh;
	background: $white;
 	display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.player-column{
	width: 50%;
	text-align: center;
}

#player1{

	background: $red;
	border-right: 1px solid #fff;
}

#player2{

	background: $blue;
	border-left: 1px solid #fff;
}